{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Destination</title>
    <link rel="stylesheet" href="{% static '/css/destionation.css' %}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
  </head>
  <body>
    <header>
        <div class="content0 ">
            <h1 class="gradient-text">Roland Agency<span class="orange">.</span></h1>
            
            <nav>
                <ul>
                    <li><a href="">Home</a> </li>
                    <li><a href="destination">Destination</a> </li>
                    <li><a href="ticket">Ticket</a> </li>
                    <li><a href="contact">Contact</a> </li>    
                </ul>
            </nav>
        </div>

    </header>

    <section>
      <h2>Hi, here are places that we limited</h2>
      <div class="destination-menu">
        <div class="place">
          <div class="img-place">
            <img src="{% static '/images/article1.jpg'  %}" alt="" />
            <p class="description">
              Come and you will find out how sweet is this trip: it's created to
              spend your vacation and birhtday'party and more.. T... pleade you
              to come and discover the show and hupp
            </p>
          </div>
        </div>
        <div class="place">
          <div class="img-place">
            <img src="{% static '/images/p2.jpg' %}" alt="" />
            <p class="description">
              Come and you will find out how sweet is this trip: it's created to
              spend your vacation and birhtday'party and more.. T... pleade you
              to come and discover the show and hupp
            </p>
          </div>
        </div>
        <div class="place">
          <div class="img-place">
            <img src="{% static '/images/p3.jpg' %}" alt="" />
            <p class="description">
              Come and you will find out how sweet is this trip: it's created to
              spend your vacation and birhtday'party and more.. T... pleade you
              to come and discover the show and hupp
            </p>
          </div>
        </div>
        <div class="place">
          <div class="img-place">
            <img src="{% static '/images/article2.jpg' %}" alt="" />
            <p class="description">
              Come and you will find out how sweet is this trip: it's created to
              spend your vacation and birhtday'party and more.. T... pleade you
              to come and discover the show and hupp
            </p>
          </div>
        </div>
        <div class="place">
            <div class="img-place">
              <img src="{% static '/images/p4.jpg' %}" alt="" />
              <p class="description">
                Come and you will find out how sweet is this trip: it's created to
                spend your vacation and birhtday'party and more.. T... pleade you
                to come and discover the show and hupp
              </p>
            </div>
          </div>
          <div class="place">
            <div class="img-place">
              <img src="{% static '/images/main.jpg' %}" alt="" />
              <p class="description">
                Come and you will find out how sweet is this trip: it's created to
                spend your vacation and birhtday'party and more.. T... pleade you
                to come and discover the show and hupp
              </p>
            </div>
          </div>
         <div class="advert">
          <p >Book your ticket if you found it interested <a href="ticket.html">Click here</a> </p>
         </div>
      </div>
    </section>
  </body>
</html>
