{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>REOUATDE Travel Agency</title>
    <link rel="shortcut icon" href="article1.jpg" type="image/x-icon">
</head>
<body>
    <header>
        <div class="content0 ">
            <h1 class="gradient-text">Roland Agency<span class="orange">.</span></h1>
            
            <nav>
                <ul>
                    <li><a href="/">Home</a> </li>
                    <li><a href="destination">Destination</a> </li>
                    <li><a href="ticket">Ticket</a> </li>
                    <li><a href="contact">Contact</a> </li>    
                </ul>
            </nav>
        </div>

    </header>

    <section id="main-image" class="section-img" >
        
        <div class="content">
            <h2>Organisation of <br><span class="trip">your trip</span></h2>
            <a href="#" class="buton1">Here is</a>
        </div>
    </section>

    
    <section id="steps">
        <div class="sectpart2">
            <ul>
                <li id="step-1">
                    <h4>Planify</h4>
                    <p>Come and you will find out how sweet is this trip:
                        it's created to spend your vacation and birhtday'party and more..
                        T... pleade you to come and discover the show and hupp
                    </p>
                </li>
            </ul>
            <ul>
                <li id="step-2">
                    <h4>Organisation</h4>
                    <p>Come and you will find out how sweet is this trip:
                        it's created to spend your vacation and birhtday'party and more..
                        T... pleade you to come and discover the show and hupp
                    </p>
                </li>
            </ul>
            <ul>
                <li id="step-3">
                    <h4>About the trip</h4>
                    <p>Come and you will find out how sweet is this trip:
                        it's created to spend your vacation and birhtday'party and more..
                        T... pleade you to come and discover the show and hupp
                    </p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </section>

    
    <section id="possibility">
        <div class="sectpart2">
            <article style="background-image: url(/images/article1.jpg) ;">
                <div class="overlay">
                    <h4 style="border-bottom: 3px solid green;">Enjoying & family</h4>
                    <p><small>
                        Offert the most beautifull enjoyment and chilling with familly 
                        which you will never regret to take your family there😊👌😘🙌
                    </small></p>
                    <a href="#" class="button2">More infos</a>
                </div>
                
                
            </article>
            <article style="background-image: url(article2.jpg) ;">
                <div class="overlay">
                    <h4 style="border-bottom: 3px solid green;">Enjoying alone</h4>
                    <p><small>
                        Offert the most beautifull enjoyment and chilling with familly 
                        which you will never regret to take your family there😊👌😘🙌
                    </small></p>
                    <a href="#" class="button2">More infos</a>
                </div>
               
                
            </article>
            <div class="clear"></div>
        </div>
    </section>
    
    <section id="contact1" class="contact">
        <div class="sectpart2">
            <h3>Contact us</h3>
            <p>
                Travel Ageny, we already known that going on trip helps you discover many things
                equly finacial.kflvv fh
                That's why we are shox wing all our effort to make this practiclmvreg
            </p>
            <form action="">
                <label for="name">Name</label>
                <input type="tex" id="name" placeholder="Provide your name">

                <label for="mail">Email</label>
                <input type="email" id="mail" placeholder="Provide your Email">

                <input type="submit" value="OK" class="button3">
            </form>
            <fieldset ><legend >Or</legend></fieldset>
            <div class="otherwise">
                <a href="https://www.google.com"><img src="{% static '/images/google.png' %}" alt="" >google</a>
                <a href=mailto:reoutaderoland@gmail.com?subject:Feedback ><img src="{% static '/images/gmail.png' %}" alt="" srcset="">gmail</a>
                <a href="https://wa.me/237690251475 "><img src="{% static '/images/what.png' %}" alt="" srcset="">whatsapp</a>
                <a href="https://www.facebook.com"><img src="{% static '/images/face.png' %}" alt="" srcset="">facebook</a>
            </div>
        </div>
    </section>

    <footer>
     <div class="sectpart2">
        <h1>Travel Agency<span class="orange">.</span></h1>
        <div class="copy">Copyright@ 2023....</div>
     </div>
    </footer>


    
    <!-- <script src="dynamic.js"></script> -->
</body>
</html>